/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/*.zip
/vendor
.env
/.phpunit.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/public/css/*
/public/js/*
/public/vendor/*
/public/mix-manifest.json
swagger.json
/storage/framework/laravel-excel
.php-cs-fixer.cache
.phpunit.result.cache
.DS_Store
/data
docker/geoserver/geoserver_data/gwc/wri_polygon_geometry/
docker/geoserver/geoserver_data/gwc/tmp/
docker/geoserver/geoserver_data/logs/*.log