services:
    mariadb:
        build:
            context: "."
            dockerfile: "docker/mariadb.Dockerfile"
        ports:
            - "3360:3306"
        networks:
            - "default"
        environment:
            MYSQL_ROOT_PASSWORD: "root"
            MYSQL_DATABASE: "wri_restoration_marketplace_api"
            MYSQL_USER: "wri"
            MYSQL_PASSWORD: "wri"
    php:
        depends_on:
            - "mariadb"
            - "mailcatcher"
            - "minio"
            - "motocker"
            - "redis"
        build:
            context: "."
            dockerfile: "docker/php.Dockerfile"
        ports:
            - "8080:80"
        networks:
            - "default"
        volumes:
            - ".:/var/www/html"
        extra_hosts: # <--- this is required
            - "host.docker.internal:host-gateway" # <--- this is required
    composer:
        image: "composer:2.5.1"
        volumes:
            - ".:/app"
            - "~/.composer:/tmp"
        command: "composer about"
        networks:
            - "default"
    mailcatcher:
        image: "chatwork/mailcatcher"
        networks:
            - "default"
        ports:
            - "1025:1025"
            - "1080:1080"
    minio:
        image: "minio/minio"
        command: server /data
        ports:
            - "9000:9000"
        environment:
            MINIO_ROOT_USER: "AKIABUVWH1HUD7YQZQAR"
            MINIO_ROOT_PASSWORD: "PVMlDMep3/jLSz9GxPV3mTvH4JZynkf2BFeTu+i8"
        volumes:
            - ./data:/data
        networks:
            - "default"
    motocker:
        image: "picadoh/motocker"
        networks:
            - "default"
        ports:
            - "9911:9911"
        environment:
            MOTO_SERVICE: "sns"
            MOTO_HOST: "0.0.0.0"
            MOTO_PORT: "9911"
    elastictranscoder:
        image: "3sidedcube/elasticphanscoder"
        networks:
            - "default"
        ports:
            - "2323:2323"
    redis:
        image: "redis:5.0.9"
        networks:
          - "default"
        ports:
          - "6379:6379"
        environment:
          REDIS_PASSWORD: "test_redis"
networks:
    default:
